@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  max-width: 1440px;
  background-color: hsl(0, 0%, 98%);
}

#header-con {
  width: 60%;
  margin-left: 20%;
  padding: 25px 0;
  text-align: center;
}

#thin-heading {
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

#thick-heading {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

#heading-para {
  font-size: 15px;
  font-weight: 400;
  color: hsl(229, 6%, 66%);
}

.grid-container {
  width: 90%;
  margin: 2% 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3/ 2fr;
  gap: 20px;
}

.grid-content {
  width: auto;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 1px 8px 2px 3px hsla(229, 6%, 66%, 0.151);
  background-color: #fff;
}

.grid-content p {
  font-weight: 200;
  color: hsl(234, 12%, 34%);
  font-size: 13px;
  line-height: 1.6;
  opacity: 0.6;
  margin: 20px 0px;
}

.grid-content img {
  width: 20%;
  margin-left: 79%;
}

.super {
  border-top: 2px solid hsl(180, 62%, 55%);
  grid-column: 1/2;
  grid-row: 2/4;
}

.team {
  border-top: 2px solid hsl(0, 78%, 62%);
  grid-column: 2/3;
  grid-row: 1/3;
}

.karma {
  border-top: 2px solid hsl(34, 97%, 64%);
  grid-column: 2/3;
  grid-row: 3/5;
}

.calculator {
  border-top: 2px solid hsl(212, 86%, 64%);
  grid-column: 3;
  grid-row: 2/4;
}

footer {
  text-align: center;
  font-size: 10px;
}

@media (max-width: 700px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
  .super {
    border-top: 2px solid hsl(180, 62%, 55%);
    grid-column: 1/2;
    grid-row: 1;
  }

  .team {
    border-top: 2px solid hsl(0, 78%, 62%);
    grid-column: 2;
    grid-row: 1;
  }

  .karma {
    border-top: 2px solid hsl(34, 97%, 64%);
    grid-column: 1;
    grid-row: 2;
  }

  .calculator {
    border-top: 2px solid hsl(212, 86%, 64%);
    grid-column: 2;
    grid-row: 2;
  }
}

@media (max-width: 400px) {
  #header-con {
    min-width: 95%;
    margin: 10px;
    padding: 5px;
    text-align: center;
  }

  #thin-heading {
    font-weight: 400;
    color: hsl(229, 6%, 66%);
    font-size: 15px;
  }

  #thick-heading {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
    font-size: 15px;
  }

  #heading-para {
    font-size: 13px;
    font-weight: 400;
    color: hsl(229, 6%, 66%);
  }

  .grid-container {
    display: block;
  }

  .grid-content {
    margin: 20px 0px;
  }
}
